body
{
	font-family:sans-serif;
}
table tr th,table tr td
{
	text-align: center;
	min-width:30 !important;
	padding:0px,50px,0px,50px;

	font-family:sans-serif;
}
div.table-header-container table
{
	border:none;
	text-align: center !important;
}
div.table-top-container table tr th,div.table-top-container table tr td
{
	border:2px solid #5555;
	
}
div.table-body-container table tr th,div.table-body-container table tr td
{
	border:2px solid #5555;
	
}
div.header-info table tr th,td
{

}
div.table-footer-container table tr td
{
	font-size:8px;
	font-weight: bold;
}
span.highlight-text
{
	font-size:30px !important;
	font-weight: bold;
}